[submodule "renderlib/libCZI"]
	path = renderlib/libCZI
	url = https://github.com/zeiss-microscopy/libCZI
[submodule "renderlib/libtiff"]
	path = renderlib/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
