#include "../renderlib/version.h"
#include <winresrc.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION AICS_VERSION_MAJOR, AICS_VERSION_MINOR, AICS_VERSION_PATCH, AICS_VERSION_TWEAK
PRODUCTVERSION AICS_VERSION_MAJOR, AICS_VERSION_MINOR, AICS_VERSION_PATCH, AICS_VERSION_TWEAK
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
  FILEFLAGS 0
#else
  FILEFLAGS VS_FF_DEBUG
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Allen Institute for Cell Science"
      VALUE "FileVersion", AICS_VERSION_STRING
      VALUE "ProductName", "AGAVE"
      VALUE "ProductVersion", AICS_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

1 ICON "icons/logo.ico"