name: C++ Release Build
on:
  push:
    tags:
      - v*

jobs:
  cmake-build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact: agave-linux
          - os: windows-latest
            artifact: agave-win
          - os: macos-15
            artifact: agave-macos-arm64
          - os: macos-15-intel
            artifact: agave-macos-x86_64

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.9.3
          modules: qtwebsockets qtimageformats
      - name: macos install deps
        if: contains(matrix.os, 'macos')
        env:
          CC: clang
          CXX: clang++
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.15
          brew install spdlog nasm
          if [ -d /usr/local/include/openssl ]; then
            mv /usr/local/include/openssl /usr/local/include/openssl.bak
          fi
      - name: macos build and test
        if: contains(matrix.os, 'macos')
        env:
          CC: clang
          CXX: clang++
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.15
          export Qt6_DIR=${{ runner.workspace }}/Qt/6.9.3/macos
          mkdir ./build
          cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build . --target agave_test --config Release
          cmake --build . --config Release
          cpack -D CPACK_PACKAGE_FILE_NAME=${{ matrix.artifact }}
        shell: bash
      - name: Upload mac artifact
        if: contains(matrix.os, 'macos')
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ./build/${{ matrix.artifact }}.dmg
      - name: linux install deps
        if: matrix.os == 'ubuntu-latest'
        env:
          CC: gcc
          CXX: g++
        run: |
          sudo apt-get install ninja-build libspdlog-dev libglm-dev libgl1-mesa-dev libegl1-mesa-dev libtiff-dev libzstd-dev nasm
      - name: linux build and test
        if: matrix.os == 'ubuntu-latest'
        env:
          CC: gcc-13
          CXX: g++-13
        run: |
          pwd
          mkdir ./build
          cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build . --target agave_test --config Release
          cmake --build . --target install --config Release
        shell: bash
      - name: linux upload artifact
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ./build/install/Release/agave-install
      - name: windows install ninja
        if: matrix.os == 'windows-latest'
        run: |
          choco install ninja
          choco install nasm
      - name: windows install nsis
        if: matrix.os == 'windows-latest'
        uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: "3.10"
      - name: windows install deps
        if: matrix.os == 'windows-latest'
        shell: cmd
        env:
          vc_arch: "x64"
        # use older sdk to work around https://github.com/grpc/grpc/issues/37210
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64 10.0.26100.0
          vcpkg install --triplet x64-windows tiff glm zlib libjpeg-turbo liblzma spdlog zstd
      - name: Remove bad Strawberry Perl patch binary in search path
        # https://github.com/actions/runner-images/issues/5459#issuecomment-1532856844
        if: matrix.os == 'windows-latest'
        run: |
          echo "C:\Program Files\git\usr\bin" >> $env:GITHUB_PATH
      - name: windows build and test
        if: matrix.os == 'windows-latest'
        env:
          vc_arch: "x64"
        # use older sdk to work around https://github.com/grpc/grpc/issues/37210
        run: |
          mkdir build
          cd build
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64 10.0.26100.0
          cmake -G "Ninja" -DCMAKE_TOOLCHAIN_FILE="%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows -DCMAKE_BUILD_TYPE=Release ..
          cmake --build . --parallel --target agave_test --config Release
          cmake --build . --parallel --config Release
          cpack -D CPACK_PACKAGE_FILE_NAME=${{ matrix.artifact }}
        shell: cmd
      - name: Upload windows artifact
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ./build/${{ matrix.artifact }}.exe

  publish_webclient:
    needs: cmake-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: |
          cd webclient
          npm ci
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  publish_pythonclient:
    needs: cmake-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: "x64"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
      - name: Build Package
        run: |
          cd agave_pyclient
          python setup.py sdist bdist_wheel
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages-dir: agave_pyclient/dist/
          verbose: true
  docs:
    needs: cmake-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install deps
        run: |
          sudo apt-get update -y
          sudo apt-get --allow-releaseinfo-change update -y 
          sudo apt-get install -y latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended
          sudo apt-get install -y python3-sphinx python3-sphinx-rtd-theme python3-pip
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Sphinx>=8.0.0 sphinx-copybutton myst-parser>=1.0 linkify-it-py>=2.0.0
          pip install -r docs/requirements.txt
      - name: Build HTML documentation
        run: |
          cd docs/
          make html
      - name: Build PDF documentation
        run: |
          cd docs/
          make latexpdf
      - uses: actions/upload-artifact@v4
        with:
          name: DocumentationHTML
          path: docs/_build/html/
      - uses: actions/upload-artifact@v4
        with:
          name: DocumentationPDF
          path: docs/_build/latex/agave.pdf
      - name: Publish Docs
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs/_build/html/ # The folder the action should deploy.
          clean: false
  docs_pythonclient:
    needs: [cmake-build, docs]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install deps
        run: |
          sudo apt-get update -y
          sudo apt-get --allow-releaseinfo-change update -y 
          sudo apt-get install -y latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended
          sudo apt-get install -y python3-sphinx python3-sphinx-rtd-theme python3-pip
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Sphinx>=8.0.0 sphinx-copybutton myst-parser>=1.0 linkify-it-py>=2.0.0
          pip install -r agave_pyclient/docs/requirements.txt
      - name: Build HTML documentation
        run: |
          pip install -e agave_pyclient/
          cd agave_pyclient/docs/
          make html
      - name: Build PDF documentation
        run: |
          pip install -e agave_pyclient/
          cd agave_pyclient/docs/
          make latexpdf
      - uses: actions/upload-artifact@v4
        with:
          name: DocumentationPythonClientHTML
          path: agave_pyclient/docs/_build/html/
      - uses: actions/upload-artifact@v4
        with:
          name: DocumentationPythonClientPDF
          path: agave_pyclient/docs/_build/latex/agave_pyclient.pdf
      - name: Publish Docs
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: agave_pyclient/docs/_build/html/ # The folder the action should deploy.
          target-folder: agave_pyclient/
          clean: false
  make-release:
    needs:
      [
        cmake-build,
        docs,
        docs_pythonclient,
        publish_pythonclient,
        publish_webclient,
      ]
    runs-on: ubuntu-latest
    steps:
      # Since Github actions (currently) doesn't provide a slugged version of the git tag we have to
      # create it by ourselves. It is then made available to other steps in this job as a step.outputs
      # variable
      - name: Get the version (git tag)
        id: get_version
        run: |
          echo ${GITHUB_REF/refs\/tags\/v/}
          echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> "$GITHUB_OUTPUT"
      - name: Get mac build artifact x86
        uses: actions/download-artifact@v4
        with:
          name: agave-macos-x86_64
          path: agave-macos-x86_64
      - name: Get mac build artifact arm64
        uses: actions/download-artifact@v4
        with:
          name: agave-macos-arm64
          path: agave-macos-arm64
      - name: Get windows build artifact
        uses: actions/download-artifact@v4
        with:
          name: agave-win
          path: agave-win
      - name: Get PDF documentation build artifact
        uses: actions/download-artifact@v4
        with:
          name: DocumentationPDF
          path: DocumentationPDF
      - name: Version the artifacts
        run: |
          mv ${{ github.workspace }}/agave-macos-x86_64/agave-macos-x86_64.dmg ${{ github.workspace }}/agave-macos-x86_64/agave-${{ steps.get_version.outputs.VERSION }}-macos-x86_64.dmg
          mv ${{ github.workspace }}/agave-macos-arm64/agave-macos-arm64.dmg ${{ github.workspace }}/agave-macos-arm64/agave-${{ steps.get_version.outputs.VERSION }}-macos-arm64.dmg
          mv ${{ github.workspace }}/agave-win/agave-win.exe ${{ github.workspace }}/agave-win/agave-${{ steps.get_version.outputs.VERSION }}-win.exe
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: true
          files: |
            ${{ github.workspace }}/agave-macos-x86_64/agave-${{ steps.get_version.outputs.VERSION }}-macos-x86_64.dmg
            ${{ github.workspace }}/agave-macos-arm64/agave-${{ steps.get_version.outputs.VERSION }}-macos-arm64.dmg
            ${{ github.workspace }}/agave-win/agave-${{ steps.get_version.outputs.VERSION }}-win.exe
            ${{ github.workspace }}/DocumentationPDF/agave.pdf
