name: C++ Release Build
on:
  push:
    tags:
      - v*

jobs:
  cmake-build:
    strategy:
      max-parallel: 6
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        shell: bash
        run: |
          # If your submodules are configured to use SSH instead of HTTPS please uncomment the following line
          # git config --global url."https://github.com/".insteadOf "git@github.com:"
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - uses: ilammy/msvc-dev-cmd@v1.0.1
      - name: Install Python 3.7 version
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Install Qt
        uses: ouuan/install-qt-action@v2.3.1
        with:
          version: 5.12.6
      - name: macos build and test
        if: matrix.os == 'macOS-latest'
        env:
          CC: clang
          CXX: clang++
        run: |
          brew install boost libtiff glm
          mkdir ./build
          cd build
          cmake ..
          cmake --build . --target agave_test --config Release
          sudo cmake --build . --target install --config Release
          zip -vr agave-macos.zip agave.app/
        shell: bash
      - name: Upload mac artifact
        if: matrix.os == 'macOS-latest'
        uses: actions/upload-artifact@v1
        with:
          name: agave-macos
          path: ./build/agave-macos.zip
      - name: linux build and test
        if: matrix.os == 'ubuntu-latest'
        env:
          CC: gcc
          CXX: g++
        run: |
          sudo apt-get install libboost-all-dev libtiff-dev libglm-dev libgl1-mesa-dev
          pwd
          mkdir ./build
          cd build
          cmake ..
          cmake --build . --target agave_test --config Release
          cmake --build . --target install --config Release
        shell: bash
      - name: windows build and test
        if: matrix.os == 'windows-latest'
        env:
          vc_arch: ${{ matrix.msvc_arch }}
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: |
          vcpkg install --triplet x64-windows tiff glm
          mkdir build
          cd build
          cmake -DCMAKE_TOOLCHAIN_FILE="%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows -A x64 ..
          cmake --build . --target agave_test --config Release
          cmake --build . --target install --config Release
          powershell Compress-Archive -Path .\agave-install -DestinationPath agave-win.zip
        shell: cmd
      - name: Upload windows artifact
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v1
        with:
          name: agave-win
          path: ./build/agave-win.zip

  make-release:
    if: github.event.base_ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: cmake-build
    steps:
      # Since Github actions (currently) doesn't provide a slugged version of the git tag we have to
      # create it by ourselves. It is then made available to other steps in this job as a step.outputs
      # variable
      - name: Get the version (git tag)
        id: get_version
        run: |
          echo ${GITHUB_REF/refs\/tags\//}
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Get mac build artifact
        uses: actions/download-artifact@v1
        with:
          name: agave-mac
      - name: Get windows build artifact
        uses: actions/download-artifact@v1
        with:
          name: agave-win
      - name: Version the artifacts
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run:
          mv ${{ github.workspace }}/agave-mac/agave-macos.zip ${{ github.workspace }}/agave-mac/agave-$VERSION-macos.zip
          mv ${{ github.workspace }}/agave-win/agave-win.zip ${{ github.workspace }}/agave-win/agave-$VERSION-win.zip
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        with:
          draft: true
          prerelease: true
          files: |
            ${{ github.workspace }}/agave-mac/agave-$VERSION-macos.zip
            ${{ github.workspace }}/agave-win/agave-$VERSION-win.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
